* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    box-sizing: inherit;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    color: #bba8f0;
}
  
  .mainCard {
  
    min-height: 100vh;
    background-image: linear-gradient(rgb(233, 226, 226), rgb(116, 109, 244));

    max-width: 900px;
    margin: auto;
    text-align: center;

  }

  h1 {
    font-size: 25px;
    font-weight: 700;
    padding-top: 20px;
    margin-bottom: 1.5rem;
    color: white;}

    .form-container {
        background: url ('assets/design/images/pattern-bg.png') no-repeat center/cover;
        text-align: center;
        padding: 20px;
        min-height: 200px;
    }

    .form-input{
        position: relative;
        max-width: 380px;
        margin: auto;
    }

    .between{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        box-shadow: 0 0 8px rgba(0,0,0,0.2);
    }

    .search-bar {
        display: flex;
        justify-content: center;
        width: 555px;
        height: 58px;
        background-color: #ffffff;
        border-radius: 15px;
        box-shadow: 0px 50px 50px -25px #00000019;
      }

      #ipInput{
        justify-content: center;
        width: 555px;
        height: 58px;
        background-color: #ffffff;
        border-radius: 15px;

      }

      #searchBtn{

        position: fixed

      }

      #info {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
        gap: 10px;
        margin-bottom: 25px;
        background: white;
        border-radius: 12px;
        padding: 1.5rem;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
      }
      #map {
        height: 500px;
        width: 100%;
        margin-top: 1rem;
      }